@import "./variables";
@import "./mixins";
@import "./animations";
@import "./basicSettings";
@import "./headerNfooter";
@import "./stickyButtons";
@import "./portfolioItems";
@import "./slider";
@import "./tables";
@import "./images";
@import "./skillAndTools";
@include colorWaveAnimation;
/* Setting for elements from main section of the website */

/* Settings and design for all contact options */
.contact-options-divs {
  @include displaySet(
    $dspl: flex,
    $jusCont: center,
    $alItms: flex-start,
    $gap: 3rem
  );
  padding: 1rem;
  border-radius: 3rem;
  .contact-form,
  .contact-directly,
  .my-files {
    @include displaySet($dspl: inline-block, $position: static, $zIndx: 900);
    @include sizesNgaps(
      $padding: 1.5rem,
      $margin: 0 1rem,
      $max-width: 40rem,
      $min-height: 20rem
    );
    @include fontNtext(
      $font-size: x-large,
      $bgColor: #d4a3ecde,
      $lnHeight: 3rem,
      $border: 0.1rem solid rgba(177, 177, 177, 0.548),
      $borderRds: 3rem,
      $boxShdw: $mainShadow
    );
    a {
      color: #000000;
    }
    a:hover {
      @include fontNtext(
        $font-size: xx-large,
        $txtShdw: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223)
      );
    }
    i {
      @include fontNtext($font-size: x-large, $color: $primaryColor);
    }
    i:hover {
      transform: scale(1.5);
    }
    &:hover {
      @include fontNtext(
        $txtShdw: 0.1rem 0.2rem 0.4rem rgb(249, 249, 253),
        $boxShdw: $boxShadow
      );
    }
  }
  .contact-options-list,
  .files-list {
    text-align: left;
  }
  /* Settings and design of the contact form */
  .form {
    margin: 1rem 0 0 1rem;
    font-size: xx-large;
    label,
    input,
    textarea {
      @include displaySet($dspl: flex);
      margin: -2rem 0;
    }
    input {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 0,
        $width: 27rem,
        $height: 3rem
      );
      @include fontNtext(
        $borderRds: 1rem,
        $font-size: 1.2rem,
        $boxShdw: $mainShadow
      );
    }
    textarea {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 0,
        $width: 27rem,
        $height: 10rem
      );
      border-radius: 1rem;
      resize: none;
      font-size: 1.2rem;
      box-shadow: $mainShadow;
    }
    input:hover,
    textarea:hover {
      border-width: 0.5rem;
      animation: colorWaveAnimation 6s infinite;
      box-shadow: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223);
    }
  }
}

/* General settings and adjustments for smaller and lower quality screens */
@media screen and (max-width: 1800px) {
  .paragraph-div img {
    display: none;
  }
  .contact-options-divs {
    @include displaySet($dspl: flex, $flxDrc: column, $alItms: center);
  }
  .contact-form,
  .contact-directly,
  .my-files {
    width: 40rem;
  }
}
@media screen and (max-width: 1400px) {
  .profile-picture img {
    @include sizesNgaps($max-width: 20rem, $max-height: 20rem);
  }
}
@media screen and (max-width: 768px) {
  .contact-form,
  .contact-directly,
  .my-files {
    width: 30rem;
  }
  .form {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
    min-height: 40rem;
  }
  input,
  textarea {
    max-width: 25rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 550px) {
  .contact-form,
  .contact-directly,
  .my-files {
    max-width: 20rem;
  }
  .contact-form {
    min-height: 46rem;
  }
  .form {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
    margin-right: 5%;
  }
  input,
  textarea {
    width: 18rem;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .contact-form,
  .contact-directly,
  .my-files {
    width: 100%;
  }
  .form input,
  textarea {
    width: 100%;
  }
  label,
  input,
  textarea {
    text-align: left;
    display: flex;
    margin-left: -1.5rem;
    width: 10%;
  }
}
