@import "./variables";
@import "./mixins";
@import "./animations";
@import "./basicSettings";
@import "./headerNfooter";
@import "./stickyButtons";
@import "./portfolioItems";
@import "./responsive";
@include gradient;
@include revealLetters;
@include tableAnimation;
@include colorWaveAnimation;
@include rotate;
@include pulsate;
@include lightingAnimation;
@include BlackWhiteAnimation;
@include colorListAnimation;
@include textColorChanging;

/* pages designs and adjustments */

/* Setting for elements from main section of the website */
/* Settings and design of the main picture */
.profile-picture {
  @include displaySet($dspl: flex, $jusCont: center);
  img {
    @include sizesNgaps($margin: 4rem 1rem 1rem, $width: 30rem, $height: 30rem);
    @include displaySet($position: static, $zIndx: 900);
    border-radius: 50%;
    border: 0.5rem solid $primaryColor;
    animation: colorWaveAnimation 6s infinite;
    box-shadow: $imgShadow;
  }
}
/* Settings and design of the images inside the about me paragraph */
.paragraph-div img {
  /* Settings of images inside the div paragraph, p_img_1 and p_img_2 */
  @include displaySet($position: relative, $zIndx: 900);
  border-radius: 4rem;
  margin: 2rem 1rem 0 2rem;
  border: 0.5rem outset;
  box-shadow: $imgShadow;
  &:hover {
    width: 30rem;
    border-color: $primaryColor;
  }
}
.p_img_1 img {
  @include sizesNgaps($width: 20rem, $height: 20rem);
  border-color: rgb(219, 105, 230);
  z-index: 3;
  &:hover {
    height: 30rem;
  }
}
.p_img_2 img {
  @include sizesNgaps($width: 22rem, $height: auto);
  border-color: rgb(166, 105, 223);
  &:hover {
    height: 50rem;
  }
}
/* settings and design for the carousel slider presentation */
.slider-box {
  @include fontNtext($borderRds: 3rem, $boxShdw: $sliderShadow);
  padding: 10rem;
}
.slider {
  @include displaySet(
    $dspl: flex,
    $jusCont: center,
    $alItms: center,
    $position: relative,
    $zIndx: 900
  );
  @include sizesNgaps(
    $padding: 0rem,
    $margin: auto,
    $width: 20rem,
    $height: 15rem
  );
  transform-style: preserve-3d;
  animation: rotate 40s linear infinite;
  span {
    @include sizesNgaps($width: 100%, $height: 100%, $top: 0, $left: 0);
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(35rem);
    transition: 1s;
    border-radius: 3rem;
    &:hover img {
      transform: translateY(-2rem) scale(1.2);
      border: $primaryColor outset 0.5rem;
    }
    img {
      @include sizesNgaps($width: 100%, $height: 100%, $top: 0, $left: 0);
      @include fontNtext(
        $borderRds: 3rem,
        $border: $primaryColor outset 0.3rem
      );
      position: absolute;
      object-fit: cover;
      transition: 3s;
    }
  }
}
html[data-page="index-english"] #portfolio .container .h3-title,
html[data-page="index-german"] #portfolio .container .h3-title {
  margin-bottom: 3rem;
}
html[data-page="index-english"] .h4-title,
html[data-page="index-german"] .h4-title {
  margin-top: 3rem;
}
/* Settings and design of "skills and tools" section */
.tools-set,
.skills-set {
  @include displaySet(
    $dspl: flex,
    $flxDrc: row,
    $jusCont: center,
    $flxWrp: wrap
  );
}
.tool,
.skill {
  @include displaySet(
    $dspl: flex,
    $flxDrc: column,
    $jusCont: center,
    $alItms: center
  );
  @include sizesNgaps($margin: 0 1rem, $width: 8rem, $height: 10rem);
  border-radius: 5rem;
  box-sizing: border-box;
  i {
    @include fontNtext($font-size: 2rem, $color: $mainTextColor);
    padding: 1rem;
    border-radius: 5rem;
    &:first-child {
      @include sizesNgaps($width: 5rem, $height: 4rem);
      background-color: #eb59f0cc;
      box-shadow: $mainShadow;
      background-image: $skillsToolsBg;
      background-size: 300% 300%;
      animation: gradient 15s ease infinite;
      &:hover {
        @include displaySet($dspl: flex, $jusCont: center, $alItms: center);
        @include sizesNgaps($width: 6rem, $height: 6rem);
        background-color: #eb59f0cc;
        box-shadow: $mainShadow;
      }
    }
    &:hover {
      @include fontNtext($font-size: 3rem, $color: #ffd900);
    }
  }
  p {
    @include displaySet(
      $dspl: flex,
      $jusCont: center,
      $alItms: center,
      $txtAln: center
    );
    @include sizesNgaps($padding: 0 1rem, $margin: 1rem 0 0 0, $height: 3rem);
    &:hover {
      @include fontNtext($font-size: larger, $font-weight: 900);
    }
  }
}
/* Settings and design for all contact options */
.contact-options-divs {
  @include displaySet($dspl: flex, $jusCont: center, $alItms: flex-start);
  gap: 3rem;
  padding: 1rem;
  border-radius: 3rem;
  .contact-form,
  .contact-directly,
  .my-files {
    @include displaySet($dspl: inline-block, $position: static, $zIndx: 900);
    @include sizesNgaps(
      $padding: 1.5rem,
      $margin: 0 1rem,
      $max-width: 40rem,
      $min-height: 20rem
    );
    @include fontNtext(
      $font-size: x-large,
      $bgColor: #d4a3ecde,
      $lnHeight: 3rem,
      $border: 0.1rem solid rgba(177, 177, 177, 0.548),
      $borderRds: 3rem,
      $boxShdw: $mainShadow
    );
    a {
      color: #000000;
    }
    a:hover {
      @include fontNtext(
        $font-size: xx-large,
        $txtShdw: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223)
      );
    }
    i {
      @include fontNtext($font-size: x-large, $color: $primaryColor);
    }
    i:hover {
      transform: scale(1.5);
    }
    &:hover {
      @include fontNtext(
        $txtShdw: 0.1rem 0.2rem 0.4rem rgb(249, 249, 253),
        $boxShdw: $boxShadow
      );
    }
  }
  .contact-options-list,
  .files-list {
    text-align: left;
  }
  /* Settings and design of the contact form */
  .form {
    margin: 1rem 0 0 1rem;
    font-size: xx-large;
    label,
    input,
    textarea {
      @include displaySet($dspl: flex, $txtAln: left);
      margin: -2rem 0;
    }
    input {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 0,
        $width: 27rem,
        $height: 3rem
      );
      @include fontNtext(
        $borderRds: 1rem,
        $font-size: 1.2rem,
        $boxShdw: $mainShadow
      );
    }
    textarea {
      @include sizesNgaps(
        $padding: 0.5rem,
        $margin: 0,
        $width: 27rem,
        $height: 10rem
      );
      border-radius: 1rem;
      resize: none;
      font-size: 1.2rem;
      box-shadow: $mainShadow;
    }
    input:hover,
    textarea:hover {
      border-width: 0.5rem;
      animation: colorWaveAnimation 6s infinite;
      box-shadow: 0.3rem 0.3rem 0.3rem rgb(127, 169, 223);
    }
  }
}
/* Settings and design of the skills table - portfolio page */
.skills-table {
  table {
    @include displaySet($dspl: flex, $jusCont: center, $alItms: center);
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    td {
      @include sizesNgaps($padding: 1rem, $width: 7rem);
      @include fontNtext($border: 0.1rem solid #ffffff00, $borderRds: 50%);
      text-align: center;
      &:hover {
        @include fontNtext(
          $boxShdw: $mainShadow,
          $txtShdw: 50%,
          $font-weight: bold
        );
      }
    }
    i {
      @include sizesNgaps($padding: 1rem, $width: 6rem);
      @include fontNtext(
        $font-size: 3rem,
        $color: $primaryColor,
        $bgColor: rgba(#f05ce9, 0.54),
        // Using rgba for transparency
        $borderRds: 50%
      );
      &:hover {
        animation: tableAnimation 4s infinite;
      }
    }
  }
}
/* Settings and design for elements table */
.elements-table {
  table {
    @include displaySet(
      $dspl: flex,
      $jusCont: center,
      $alItms: center,
      $txtAln: center
    );
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    td {
      @include sizesNgaps(
        $padding: 0.5rem 3.5rem,
        $max-width: 5rem,
        $height: auto
      );
      @include fontNtext(
        $bgColor: rgba(#feffff, 0),
        $border: 0.1rem solid rgba(#ffffff, 0),
        $borderRds: 50%
      );
      text-align: center;
      &:hover {
        @include fontNtext(
          $font-size: large,
          $font-weight: bold,
          $txtShdw: $elementsTbHover
        );
      }
    }
    i {
      @include displaySet($dspl: flex, $jusCont: center, $txtAln: center);
      @include sizesNgaps($padding: 1rem, $margin: 0 0 0 0.3rem, $width: 1rem);
      @include fontNtext($font-size: 1.5rem, $color: $primaryColor);
      border-radius: 50%;
      &:hover {
        @include fontNtext($font-size: 2rem, $color: $hoverTitle);
      }
    }
  }
}
/* General settings and adjustments for smaller and lower quality screens */
@media screen and (max-width: 1800px) {
  h1::before,
  h1::after,
  .show-all,
  .paragraph-div img,
  .toolbox,
  .skills-table,
  .elements-table,
  .elements-table-div,
  footer p::before,
  footer p::after {
    display: none;
  }
  .show-first,
  .show-all:target,
  .contact-options-divs {
    @include displaySet($dspl: flex, $flxDrc: column, $alItms: center);
  }
  .portfolio-item {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
    width: 35rem;
  }
  .contact-form,
  .contact-directly,
  .my-files {
    width: 40rem;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.8);
    left: 85%;
  }
}
@media screen and (max-width: 1400px) {
  h2 {
    color: $mainTextColor;
    background-color: transparent !important;
  }
  h2:hover {
    @include fontNtext(
      $font-weight: bolder,
      $color: $hoverTitle,
      $txtShdw: $hHover
    );
  }
  .profile-picture img {
    @include sizesNgaps($max-width: 20rem, $max-height: 20rem);
  }
  .slider-box {
    padding: 8rem;
  }
  .slider {
    @include sizesNgaps($width: 18rem, $height: 13rem);
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(25rem);
  }
  .portfolio-item-image {
    display: none;
    margin-bottom: 1rem;
  }
  .portfolio-item-image img {
    @include sizesNgaps($width: 20rem, $height: 10rem);
    border-radius: 1rem;
  }
  .portfolio-item:hover .portfolio-item-image {
    display: flex;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.8);
    left: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .slider-box {
    padding: 8rem;
  }
  .slider {
    @include sizesNgaps($width: 18rem, $height: 13rem);
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(25rem);
  }
  .hire-me {
    transform: translateY(-50%) scale(0.8);
    left: 80%;
  }
  .portfolio-items {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
  }
}
@media screen and (max-width: 992px) {
  .slider-box {
    padding: 6rem;
  }
  .slider {
    @include sizesNgaps($width: 14rem, $height: 11rem);
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(18rem);
  }
  .portfolio-item {
    width: 30rem;
  }
  .portfolio-item-image img {
    @include sizesNgaps($width: 16rem, $height: 8rem);
    border-radius: 1rem;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.7);
    left: 75%;
  }
}
@media screen and (max-width: 768px) {
  .slider-box {
    padding: 4rem;
  }
  .slider {
    @include sizesNgaps($width: 10rem, $height: 9rem);
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(13rem);
  }
  nav ul {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center,
      $txtAln: center
    );
    padding-left: 0;
  }
  nav ul li {
    display: block;
    margin: 1rem 0;
  }
  .portfolio-item {
    width: 28rem;
  }
  .languages p {
    display: none;
  }
  .languages img {
    @include sizesNgaps($margin: 0 auto, $width: 2rem, $height: 2rem);
    display: block;
  }
  .languages img:hover {
    @include sizesNgaps($width: 3rem, $height: 3rem);
  }
  .backtotop a .back-to {
    display: none;
  }
  .backtotop a {
    text-transform: capitalize;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.7);
    left: 70%;
  }
  .contact-form,
  .contact-directly,
  .my-files {
    width: 30rem;
  }
  .form {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
    min-height: 40rem;
  }
  input,
  textarea {
    max-width: 25rem;
  }
}
@media screen and (max-width: 576px) {
  .slider-box {
    padding: 2rem;
  }
  .slider {
    @include sizesNgaps($width: 8rem, $height: 7rem);
  }
  .slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(10rem);
  }
  .hire-me {
    transform: translateY(-50%) scale(0.5);
    left: 65%;
  }
}
@media screen and (min-width: 481px) and (max-width: 550px) {
  .contact-form,
  .contact-directly,
  .my-files {
    max-width: 20rem;
  }
  .contact-form {
    min-height: 46rem;
  }
  .form {
    @include displaySet(
      $dspl: flex,
      $flxDrc: column,
      $jusCont: center,
      $alItms: center
    );
    margin-right: 5%;
  }
  input,
  textarea {
    width: 18rem;
  }
  .portfolio-item {
    width: 20rem;
  }
  .portfolio-item-image img {
    @include sizesNgaps($width: 12rem, $height: 6rem);
    border-radius: 1rem;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.5);
    left: 55%;
    top: 12%;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    float: left;
  }
  header,
  footer {
    width: 150%;
  }
  section {
    width: 120%;
    margin-left: 15%;
  }
  .hire-me {
    transform: translateY(-50%) scale(0.7);
    left: 55%;
    top: 13%;
  }
  .portfolio-item {
    width: 15rem;
  }
  .contact-form,
  .contact-directly,
  .my-files {
    width: 110%;
  }
  .form input,
  textarea {
    width: 110%;
  }
  label,
  input,
  textarea {
    text-align: left;
    display: flex;
    margin-left: -1.5rem;
  }
}
